.navbar{
    background-color: transparent !important;
      text-shadow: 0 0 15px #ff4081;
  font-size: 1.5rem;
  /* display: none; */
}

.nav-link{
    color: white !important;
    
}
.nav-link:hover{
    /* transform:perspective(800px) translateZ(50px); */
    transform:scale(1.2);
}

#navbtn{
    padding:0.5rem !important;
    border:none !important;
    border-radius: 10px;
    background: linear-gradient(145deg, #a932e0,#4b0082);
}
#navbtn:hover{
    border:2px solid white !important;
}

.navbar-nav img{
    margin:0 !important;
    padding: 0 !important;
}
.navbar-nav img:hover{
    transform:scale(1.2);
}

nav{
    border: 1px solid white !important;
    border-radius: 10px;
    box-shadow: 0 0 15px #ff4081;
}
