    @font-face {
      font-family: "MyFont";
      src: url("./assets/MyFont.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }




    * {
      margin: 0;
      padding: 0;
      /* box-sizing: border-box; */
      /* font-family: 'Zen Dots', cursive; */
      font-family: "MyFont";
    }

    html,
    body {
      margin: 0 !important;
    }

    body {

      background-image: url("assets/bg2.jpg");
      background-size: cover;
      background-image: fixed;
      color: #fff;
      overflow-X: hidden;
    }

    #root {
      max-width: 1280px;
      margin: 0 auto;
      padding: 2rem;
    }